header {
  background-color: white;
  border-bottom: 1px solid lightgrey;
}

.header_rightPart {
  display: flex;
}

.btnWatch {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name_session {
  margin-right: 10px;
}

.session_out {
  background-color: red;
  border: none;
  color: white;
  font-weight: bold;
  padding: 6px 6px 6px 6px;
  margin-right: 10px;
}

.btn_add_ads {
  color: #0098d9;
  font-weight: bold;
  padding: 0px 4px 0px 4px;
}

html {
  font-family: roboto;
}

body {
  background-color: #f2f2f2;
}

nav {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  margin: 0px 5px 0px 5px;
}

#hero {
  background-image: url(../img/3cdc571d57da64c8aac49132f1881476.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.container_form_ads {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}

.container_form_ads .left_part {
  display: flex;
  flex-direction: column;
}

.container_form_ads .right_part {
  display: flex;
  flex-direction: column;
}

.container_form_ads input {
  border-radius: 3px;
  padding: 6px 6px 6px 6px;
  margin-bottom: 10px;
  width: 300px;
  margin-right: 20px;
}

.container_form_ads input::placeholder {
  color: #a6a6a6;
}

.container_form_ads textarea {
  resize: none;
  border-radius: 5px;
  border: 1.5px solid black;
  font-family: roboto;
}

form {
  display: flex;
  flex-direction: column;
}

.container_form input {
  border-radius: 3px;
  padding: 6px 6px 6px 6px;
  margin-bottom: 10px;
}

.description_part {
  margin-right: 10px;
}

.form_ads {
  display: flex;
  width: 300px;
}

h2 {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}

.link_sub_co {
  font-size: 0.9rem;
  margin-top: 15px;
  color: grey;
}

.validation {
  padding: 6px 3px 6px 3px;
  background-color: #0098d9;
  border-radius: 5px;
  color: white;
}
#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.78;
  z-index: -1;
}

#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}

#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.78;
  z-index: -1;
}

#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}

.title_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.separator_title {
  width: 50px;
  height: 5px;
  background-color: #0098d9;
}

.picAds {
  width: 270px;
  height: 150px;
}

.titleSite {
  font-size: 3rem;
  color: white;
}

.favoriteTitle {
  justify-content: center;
  margin-left: 10px;
}

.ads {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid lightgrey;
  width: 270px;
  height: 330px;
  margin: 10px;
}

.containerAds {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  width: auto;
  display: flex;
}

.actuPrice {
  color: #c4c4c4;
  font-size: 0.9rem;
}

.modelVehicle {
  font-weight: bold;
}

.price {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.calendar {
  margin-left: 20px;
}

.separatorAd {
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 5px;
  background-color: #d14c2e;
}

.contentAd {
  display: flex;
  justify-content: center;
  width: 270px;
}

.separatorKilometer {
  width: 1px;
  height: 20px;
  background-color: lightgrey;
  margin-left: 10px;
  margin-right: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.form {
  width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input {
  margin-top: 3px;
}

li {
  text-decoration: none;
}

ul {
  display: flex;
}

.adDetail {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left_adDetail {
  width: 50%;
}

.right_adDetail {
  width: 50%;
}

.container_adDetail {
  margin-top: 10px;
  height: 100%;
  background-color: white;
}

.container_adDetail img {
  margin-right: 10px;
}

.brand_adDetail {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: bold;
}

.model_adDetail {
  font-size: 1.5rem;
  font-weight: 600;
}

.right_adDetail {
  display: flex;
  flex-direction: column;
}

.date_adDetail {
  margin-top: 10px;
  font-size: 0.7rem;
  color: #a6a6a6;
  justify-content: end;
  align-items: flex-end;
}

.logo_kilometers,
.calendar img {
  margin-right: 10px;
  margin-bottom: 5px;
}

.bidError {
  margin-top: 10px;
  font-weight: bold;
}

.deadline_adDetail {
  font-style: italic;
  color: #a6a6a6;
}
